.slides{
    li{
        cursor: pointer;
        float: left;
        width: 50%;
        height:430px;
    }
}
.flexslider{
    position:relative;
    height:100%;
    overflow:hidden;
    background:url(../images/lbt/loading.gif) 50% no-repeat;
}
.flex-control-nav{
    position:absolute;
    bottom:10px;
    z-index:2;
    width:100%;
    text-align:center;
    li{
        display:inline-block;
        width:14px;
        height:14px;
        margin:0 5px;
        display:inline;
        zoom:1;
    }
    a{
        display:inline-block;
        width:14px;
        height:14px;
        line-height:40px;
        overflow:hidden;
        background:url(../images/lbt/dot.png) right 0 no-repeat;
        cursor:pointer;
    }
    .flex-active{
        background-position:0 0;
    }
}
.flex-direction-nav a  {
    text-decoration:none;
    width: 40px;
    height: 48px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%; z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0,0,0,0.8);
    background:url(../images/arr.png) no-repeat;
    text-indent:-999em;
}
.flex-direction-nav .flex-prev {
    left: -50px;
    background-position:0 0;
}
.flex-direction-nav .flex-next {
    right: -50px;
    background-position:-132px 0;
}
.flexslider:hover .flex-prev {
    opacity: 0.7;
    left: 10px;
}
.flexslider:hover .flex-next {
    opacity: 0.7;
    right: 10px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
}
.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter:alpha(opacity=0);
    cursor: default;
}
.slide-mess{
    font-size: 32px;
    color: #fff;
    margin:50px;
}

/*小屏幕重写 **/
@media screen and (max-width: 500px) {
    .city-slider{
        height: 233px !important ;
    }
    .slides li{
       height: 182px;
    }
    .flex-prev{
        display: none;
    }
    .flex-next{
        display: none;
    }
}
