/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
npm-debug.log
/nbproject/private/
.idea
/config/casarover.php
.DS_Store
/config/.DS_Store
/app/lib/WxpayAPI/logs
/app/lib/WxpayAPI/lib/WxPay.Config.php
/public/WxpayAPI/logs
/public/WxpayAPI/lib/WxPay.Config.php
/public/assets/phpqrcode/temp
/tests/jmeter/data/password.csv
