.recommend-place {
  overflow: hidden;
  margin-top: 40px;
  height: 100%;
  /* background-color: #aaa; */
}
.recommend-place-left {
  float: left;
  overflow: hidden;
  width: 60%;
  height: 100%;
}
.recommend-place-right {
  float: left;
}
.rp-left-row {
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.rp-left-row1 {
  overflow: hidden;
  width: 100%;
  height: 248px;
}
.rp-left-row-title {
  float: left;
  width: 35%;
  height: 100%;
}
.row-pic1 {
  float: left;
  width: 65%;
}
.row-pic2 {
  width: 70%;
}
.rp-left-w3 {
  float: left;
  width: 50%;
}
.row-pic3 {
  float: left;
  width: 50%;
}
.rpr-top {
  height: 250px;
  max-width: 470px;
}
.rpr-top p {
  margin-left: 100px;
}
.recommend-raiders {
  margin-top: 40px;
  height: 300px;
}
.radiers_left {
  float: left;
  width: 20%;
  height: 100%;
}
.radiers-right {
  width: 100%;
  height: 358px;
}
.radiers_map {
  float: left;
  width: 60%;
  height: 240px;
}
.radiers_bottom {
  float: right;
  margin-bottom: 100px;
  width: 80%;
  background: #dae6f1;
}
.radiers {
  margin-left: 20px;
}
.recommend-house {
  clear: both;
  height: 700px;
}
.place-row {
  margin-top: 10px;
  width: 100%;
  height: 30%;
  background-color: #ffffff;
}
.house-left {
  width: 20%;
  height: 300px;
}
.house-left {
  float: left;
}
.house-right {
  float: left;
  margin: 0 auto;
  width: 80%;
  background-color: #dae6f1;
}
.house-mess {
  float: left;
  padding: 10px;
  width: 25%;
  height: 40%;
}
.house-mess-title {
  display: inline;
  text-align: center;
}
.two .house-d-down {
  width: 300px;
  height: 40px;
  background: #9aafce;
  color: #ffffff;
  font-weight: 500;
  line-height: 40px;
}
.two .house-d-pic {
  overflow: hidden;
  width: 300px;
  height: 200px;
}
.house-d-pic {
  overflow: hidden;
}
.house-d-title {
  float: left;
  overflow: hidden;
  margin-left: 20px;
  width: 230px;
  height: 40px;
  max-width: 330px;
}
.house-place {
  float: left;
  text-align: right;
}
/*景点搜索*/
.place-sel-middle {
  overflow: hidden;
  padding-top: 20px;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  background: #ffffff;
}
.sel-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.sel-main .left {
  width: 20%;
  float: left;
  height: 100%;
  padding-left: 40px;
}
.sel-main .left .head-name {
  float: left;
  width: 50%;
  text-align: center;
  font-weight: 600;
  line-height: 50px;
}
.sel-main .right {
  width: 76%;
  height: 50px;
  float: left;
}
.sel-main .right .condition {
  text-align: center;
}
.sel-main .right .condition li {
  list-style-type: none;
  float: left;
  width: 90px;
  background: #CCFFCC;
  color: #565a5c;
  line-height: 35px;
  margin: 5px;
  border: 1px solid #eee;
  cursor: pointer;
}
.sel-main .right-extend {
  width: 76%;
  height: 100%;
  float: left;
}
.sel-main .right-extend .condition {
  text-align: center;
}
.sel-main .right-extend .condition li {
  list-style-type: none;
  float: left;
  width: 90px;
  background: #CCFFCC;
  color: #565a5c;
  line-height: 35px;
  margin: 5px;
  border: 1px solid #eee;
  cursor: pointer;
}
#more-theme {
  color: #565a5c;
  cursor: pointer;
  line-height: 35px;
}
.add-sel {
  background: #123;
}
.psm-all {
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.show-result {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #EDEDEF;
  margin-top: 20px;
  margin-bottom: 20px;
}
.house-list > ul > li {
  float: left;
  margin: 20px;
}
.house-list {
  overflow: hidden;
  margin-left: 90px;
}
.top-intro {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 30%;
  max-height: 333px;
  padding-bottom: 20px;
  color: #ffffff;
  overflow: hidden;
}
.top-intro .main {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  height: 200px;
  overflow: hidden;
  font-size: 15px;
}
