.full_div {
  width: 100%;
  height: 100%:
	overflow:hidden;
}
.back .head {
  width: 100%;
  height: 100%:
	overflow:hidden;
}
.back .head .title {
  font-size: 18px;
}
.back .head .form-control {
  width: 300px;
}
.back .content {
  width: 100%;
  height: 100%:
	overflow:hidden;
}
.back .content .message p {
  color: red;
}
.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
#showimg img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  overflow: hidden;
}
.photo .progress {
  width: 100px;
}
.uppic {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.preview {
  width: 200px;
  border: solid 1px #dedede;
  margin: 10px;
  padding: 10px;
}
.btn a {
  display: inline-block;
  width: 100px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.btn input {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 100px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.recom .form-control {
  width: 130px;
}
