body {
  position: relative;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
a:hover {
  color: black;
}
u {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main {
  width: 978px;
  margin: 0px auto;
}
.main .screen {
  margin: 30px auto;
  background: #363230;
  border-radius: 5px;
  padding: 20px;
}
.main .case {
  display: inline-block;
  width: 930px;
}
.main p {
  color: #fff;
  line-height: 10px;
}
.main p .show {
  float: right;
  color: #fff;
}
.main ul {
  margin: -35px 0 10px 60px;
  width: 800px;
  height: 30px;
  overflow: hidden;
}
.main ul li,
.main ol li {
  display: inline-block;
}
.main ul li a,
.main ol li a {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  margin: 0 20px 20px 0;
  text-align: center;
  border-radius: 3px;
  line-height: 30px;
  color: #fff;
  background: #363230;
  cursor: pointer;
}
.main ul li a:hover,
.main ol li a:hover {
  color: #363230;
  background: #fff;
}
.main ul li .active,
.main ol li .active {
  color: #363230;
  background: #fff;
}
.main .right-float-top,
.main .right-float-middle,
.main .right-float-bottom {
  z-index: 10;
}
.main .right-float-top,
.main .right-float-middle {
  position: fixed;
  width: 25px;
  height: 25px;
  text-align: center;
  color: transparent;
  padding: 10px;
  font-size: 12px;
}
.main .right-float-top {
  right: 31px;
  bottom: 138px;
  background: url("/assets/images/rightfloat.png") 0 0;
}
.main .right-float-middle {
  right: 31px;
  bottom: 94px;
  background: url("/assets/images/rightfloat.png") 0 -44px;
}
.main .right-float-top:hover,
.main .right-float-middle:hover {
  background: #aaaaaa;
  color: #fff;
}
.main .right-float-bottom {
  position: fixed;
  right: 31px;
  bottom: 50px;
  width: 45px;
  height: 45px;
  background: url("/assets/images/rightfloat.png") 0 -88px;
}
.main .right-float-bottom:hover {
  background: url('/assets/images/wxqrcode.png');
}
.main .caret {
  width: 0;
  height: 0;
  margin-left: 15px;
  vertical-align: middle;
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
