.banner {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  position: relative;
}
.banner .cover-photo {
  width: 100%;
  max-height: 350px;
  overflow: hidden;
  position: relative;
}
.banner .cover-photo img {
  vertical-align: middle;
}
.casa-card {
  float: left;
  height: 280px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin: 15px 8px 0 8px;
}
.casa-card a {
  display: block;
  outline: none;
}
.casa-card a:hover .info {
  top: 0;
}
.casa-card a:hover .card {
  opacity: 0;
}
.card-a {
  width: 615px;
  height: 280px;
  overflow: hidden;
}
.card-b {
  width: 300px;
  height: 280px;
  overflow: hidden;
}
.card-c {
  width: 400px;
  height: 280px;
  overflow: hidden;
}
.card-d {
  width: 515px;
  height: 280px;
  overflow: hidden;
}
.card {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}
.card h3 {
  line-height: 280px;
  font-size: 32px;
}
.info {
  position: absolute;
  left: 0;
  top: 100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100%);
  color: #fff;
  transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
}
.middle {
  display: table-cell;
  padding: 20px;
  vertical-align: middle;
}
.middle h3 {
  padding-top: 110px;
}
section {
  margin: 35px 15px 25px 15px;
  clear: both;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.article-nav {
  background: #FF9D00;
  line-height: 50px;
  width: 200px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
}
.banner .guide-mess {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -50px;
  z-index: 60;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100%);
}
.banner .guide-mess h1 {
  padding-bottom: 10px;
}
.place-list {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.place-item {
  width: 100%;
  height: 100%;
  max-height: 300px;
  margin-top: 50px;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 1px;
}
.place-img {
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.place-mess {
  padding: 20px;
  height: 100%;
  width: 40%;
  float: left;
}
.place-mess p {
  text-indent: 1em;
}
