nav {
  height: 6rem;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  position: fixed;
  z-index: 1;
  text-align: center;
}
nav a {
  color: black;
  font-size: 3rem;
  margin: 1rem;
  margin-top: 1.5rem;
}
nav .glyphicon-search {
  float: left;
}
nav .glyphicon-user {
  float: right;
}
nav h1 {
  color: black;
  font-size: 2rem;
}
.tabtable {
  background: #fff;
  border-top: 8rem solid #f8f8f8;
}
.nav-tabs li {
  width: 50%;
  text-align: center;
}
.nav-tabs li a {
  font-size: 2rem;
}
.case {
  padding: 3rem 1rem 0;
  width: 100%;
  z-index: 0;
}
.case p {
  display: block;
  font-size: 2rem;
  font-weight: 900;
}
.case em {
  display: block;
  font-size: 2rem;
  color: #999999;
}
.image {
  position: relative;
}
.image img {
  width: 100%;
}
.image span {
  text-align: center;
  font-size: 2rem;
  width: 10rem;
  height: 4rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3cbda2;
  color: #fff;
  font-weight: 900;
  background-color: rgba(20, 143, 117, 0.7);
}
