a:hover {
  color: black;
}
.main {
  margin: 20px auto;
  width: 1200px;
  text-align: center;
}
.main .left {
  width: 894px;
  float: left;
  border-right: 4px solid #d6d6d6 ;
}
.main .left h1 {
  padding-bottom: 10px;
  font-size: 48px;
}
.main .left .case {
  width: 850px;
  height: 260px;
  margin: 55px auto;
  border: 1px solid #c0c0c0;
  box-shadow: 2px 2px 3px #aaaaaa;
}
.main .left .case img {
  width: 400px;
  height: 260px;
  float: left;
}
.main .left .case .articles {
  width: 450px;
  float: right;
}
.main .left .case .articles p {
  position: relative;
  width: 380px;
  height: 100px;
  word-break: break-word;
  margin: 0 auto;
  text-align: left;
  text-indent: 2em;
  line-height: 20px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.main .right {
  width: 300px;
  float: right;
}
.main .right img {
  width: 250px;
  height: 150px;
  margin: 0 auto;
}
.main .right p {
  margin-top: 10px;
}
