nav {
  height: 6rem;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  position: fixed;
  z-index: 1;
  text-align: center;
}
nav a {
  color: black;
  font-size: 3rem;
  margin: 1rem;
  margin-top: 1.5rem;
}
nav .glyphicon-chevron-left {
  float: left;
}
nav .glyphicon-earphone {
  float: right;
}
nav h1 {
  color: black;
  font-size: 2rem;
}
.main {
  padding: 0 1rem;
  border-top: 8rem solid #f8f8f8;
  background: #fff;
}
.main .divider {
  border-bottom: 1px solid #eaeaea;
}
.main p {
  line-height: 4rem;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.main em {
  margin-right: 1rem;
}
.main span {
  float: right;
  margin-top: 1rem;
}
.main a {
  color: black;
}
