
.main{
  width: 978px;
  margin: 10px  auto;
  text-indent: 2em;
  b{
    text-indent: 2em;
  }
.case{
  width: 978px;
  margin: 50px  auto;
  padding: 10px;
  display: block;
  border: 1px solid #f96e57;
  border-radius: 4px;
  position: relative;
  h2{
    position: absolute;
    height: 40px;
    line-height: 40px;
    background:  #f96e57;
    top: -60px;
    left: 0;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 0 0;
    padding-right: 26px;
  }
  dt{
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  p{
      line-height: 26px;
  }
}
}