.banner{
  height: 484px;
}
.main{
  //width: 978px;
  width: 1053px;
  margin: 10px  auto;
  text-indent: 2em;
  b{
    text-indent: 2em;
    text-align: center;
  }
  .part{
    height:394px;
    text-align: center;
    color: #aaa7a7;
    h2{
      font-size: 48px;
      font-weight: bold;
      margin: 0;
    }
    p{
      font-size: 18px;
      margin: 0;
    }
  }
  .case{
    position: relative;
  //width: 978px;
  margin: 50px  auto;
  //padding: 10px;
  //display: block;
  //border: 1px solid #f96e57;
  //border-radius: 4px;
  box-shadow: 5px 5px 10px #d6d6d6;
  width: 949px;
  padding: 52px;
  background: #fff;
    .horn{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  //background: url('/assets/images/horn.png') no-repeat right bottom;
  //h2{
  //  position: absolute;
  //  height: 40px;
  //  line-height: 40px;
  //  background:  #f96e57;
  //  top: -60px;
  //  left: 0;
  //  text-align: center;
  //  color: #fff;
  //  border-radius: 5px 5px 0 0;
  //  padding-right: 26px;
  //}
  dt{
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  p{
      //line-height: 26px;
      text-align: left;
      color: #8a8787;
      font-size: 14px;
      line-height: 28px;
  }
}
}