nav{
  display: none;
}
.banner img{
  width: 100%;
}
.main{
  margin: 1rem 1rem;
}
.case{
  margin:1rem 1%;
  float: left;
  width: 48%;
  box-shadow:2px 2px 5px #d2d1d1 ;
  position: relative;
  .article{
    padding: 1rem;
  }
  img{
    width: 100%;
  }
  span{
    position: absolute;
    top:0.5rem;
    left: 1.2rem;
    color: #fff;
  }
  .mask{
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
  }
  h3{
    margin: 0;
    font-size: 1.5rem;
  }
  h4{
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #ff9c00;
  }
}
