@import "block/slider";
body{
  position: relative;
}
a,a:link,a:visited ,a:hover,a:active{
  text-decoration:none;
}
a:hover{color: black}
u{
  text-decoration: none
}
ul,li,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
.main{
  width: 1253px;
  margin: 0px auto;
  .screen{
    box-shadow: 5px 5px 10px #d6d6d6;
    padding-bottom: 20px;
    margin: 30px auto;
    background: #fff;
    border-radius: 5px;
  }
  .case{
    display: inline-block;
    width: 1253px;
    background: #fff;
  }
  p{
    color: black;
    margin-left: 48px;
    line-height: 10px;
    margin-right: 20px;
    .show{
      float: right;
      color: black;
    }
  }
  ul{
    margin: -35px 0 10px 150px;
    width: 1000px;
    height: 30px;
    overflow: hidden;
  }
  ul li,ol li{
    display: inline-block ;
    a{
      display: inline-block;
      padding: 0 10px;
      height: 30px;
      margin: 0 40px 20px 0;
      text-align: center;
      border-radius: 3px;
      line-height: 30px;
      color: #000;
      background: #FFF;
      cursor: pointer;
    }
    a:hover{
      color: #f85800;
    }
    .active{
      color: #f85800;
    }
  }
  .right-float-top,.right-float-middle,.right-float-bottom{z-index: 10;}
  .right-float-top,.right-float-middle{
    position: fixed;
    width: 25px;
    height: 25px;
    text-align: center;
    color: transparent;
    padding: 10px;
    font-size: 12px;
  }
  .right-float-top{
    right: 1px;
    bottom: 138px;
    background: url("/assets/images/rightfloat.png") 0 0;
  }
  .right-float-middle{
    right: 1px;
    bottom: 94px;
    background: url("/assets/images/rightfloat.png") 0 -44px;
  }
  .right-float-top:hover,.right-float-middle:hover{background: #aaaaaa;color: #fff}
  .right-float-bottom{
    position: fixed;
    right: 1px;
    bottom: 50px;
    width: 45px;
    height: 45px;
    background: url("/assets/images/rightfloat.png") 0 -88px;
  }
  .right-float-bottom:hover{background: url('/assets/images/wxqrcode.png')}
  .caret {
    width: 0;
    height: 0;
    margin-left: 15px;
    vertical-align: middle;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}
