@import "block/slider";
@a-hover:#ff8c00;
@import "block/load";
p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
  margin: 0;
  padding: 0;
}
body{
  position: relative;
}
.loader{
  text-align: center;
}
a,a:link,a:visited ,a:hover,a:active{
  text-decoration:none;
}
a:hover{color: black}
u{
  text-decoration: none
}
ul,li,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
.all{
  padding: 0 50px;
}
.main{
  .screen{
    box-shadow: 5px 5px 10px #d6d6d6;
    padding-bottom: 20px;
    margin: 30px auto;
    background: #fff;
    border-radius: 5px;
  }
  .case{
    display: inline-block;
    background: #fff;
    p{
      color: black;
      margin: 36px 20px 0 48px;
      z-index: 2;
      .show{
        float: right;
        color: black;
      }
    }
    ul{
      margin: -23px 0 10px 150px;
      width: 70%;
      height: 30px;
      overflow: hidden;
      z-index: 1;
    }
    ul li{
      display: inline-block ;
      a{
        display: inline-block;
        padding: 0 10px;
        height: 30px;
        margin: 0 40px 20px 0;
        text-align: center;
        border-radius: 3px;
        line-height: 30px;
        color: #000;
        background: #FFF;
        cursor: pointer;
      }
      a:hover{
        color: #f85800;
      }
      .active{
        color: #f85800;
      }
    }
  }
  .right-float-top,.right-float-middle,.right-float-bottom{z-index: 10;}
  .right-float-top,.right-float-middle{
    position: fixed;
    width: 25px;
    height: 25px;
    text-align: center;
    color: transparent;
    padding: 10px;
    font-size: 12px;
  }
  .right-float-top{
    right: 1px;
    bottom: 138px;
    background: url("/assets/images/rightfloat.png") 0 0;
  }
  .right-float-middle{
    right: 1px;
    bottom: 94px;
    background: url("/assets/images/rightfloat.png") 0 -44px;
  }
  .right-float-top:hover,.right-float-middle:hover{background: #aaaaaa;color: #fff}
  .right-float-bottom{
    position: fixed;
    right: 1px;
    bottom: 50px;
    width: 45px;
    height: 45px;
    background: url("/assets/images/rightfloat.png") 0 -88px;
  }
  .right-float-bottom:hover{background: url('/assets/images/wxqrcode.png')}
  .caret {
    width: 0;
    height: 0;
    margin-left: 15px;
    vertical-align: middle;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}
section{
  .card{
    width: 31%;
    padding-bottom: 10px;
    cursor: pointer ;
    float: left;
    margin: 0 1% 40px 1%;
    background: #fff;
  }
  img{
    width: 100%;
  }
  .card:hover{
    box-shadow: 5px 5px 10px #d6d6d6;
  }
  h3{
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0 0 15px;
  }
  p{
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    margin-left: 15px;
  }
  ul{
    margin: -20px 0 0 55px;
    height: 22px;
    overflow: hidden;
    li{
      display: inline-block;
      border-radius: 5px;
      background: #ff8c00;
      color: #fff;
      padding: 2px 5px;
      font-size: 12px;
      margin: 0 5px 5px 0;

    }
  }
}
