
@import "block/variables";
@import "block/article";
@import "block/banner";
.casa-article{
  float: left;
  width: 60%;
  height: 100%;
  overflow: hidden;
  margin: 2% 2% 2% 4%;
  background: #ffffff;
}

.article-main{
  width: 95%;
  height: 100%;
  font-size: 14px;
  line-height: 26px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  img{
    margin: 6px 0;
  }
  h2{
    text-align: center;
  }
  p{
    margin: 0;
    letter-spacing: 1px;
    text-indent: 2em;
  }
}
.navtop{
  margin-left: 4%;
  h1{
    font-size: 40px;
    padding: 0;
    margin-bottom: 10px;
  }
  p{
    font-size: 12px;
    margin-bottom: 0;
  }
  span{
    color: #aaa9a9;
  }
}
//右侧
#others{
  padding-top: 30px;
}
.casa-mess{
  float: left;
  width: 30%;
  height: 100%;
  overflow: hidden;
  margin-top: 30px;
  background: #fff;
}
.tag-list{
  padding: 30px;
  span{
    background: #0099CC;
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin-top: 3px;
    display: inline-block;
  }
}
.casa-map{
  width: 25%;
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
  height: 300px;
  #allmap{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.banner .show-mess{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 60;
  overflow: hidden;
  color: #fff;
  h1{
    padding-left: 10%;
    padding-bottom: 10px;
  }
}
section{
  position: relative;
  width: auto;
  height: auto;
  padding: 29px 8% 8% 29px;
  border-top: 2px solid  #e5e5e5;
  h2{
    position: absolute;
    width: 84px;
    padding: 0 30px ;
    left: 50%;
    margin-left: -72px;
    top: -35px;
    font-size: 20px;
    font-weight: normal ;
    background: #fff;
  }
  a:hover{
    color: #000000;
  }
  .card{
    width: 100%;
    padding-bottom: 10px;
    cursor: pointer ;
    float: left;
    margin:20px 0 ;
    background: #fff;
    box-shadow: 5px 5px 10px #d6d6d6;
  }
  img{
    width: 100%;
  }
  h3{
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0 0 15px;
  }
  p{
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    margin-left: 15px;
  }
  .tip{
    border-radius: 5px;
    background: #ff8c00;
    color: #fff;
    padding: 2px 5px;
    font-size: 12px;
    margin: 0 5px 5px 0;
  }
}