@a-hover:#ff8c00;
@import "block/slider";
.slides{
  li{
    height: 13rem;
  }
}
@import "block/load";
a,a:link,a:visited ,a:hover,a:active{
  text-decoration:none;
  color: black;
}
a:hover{color: black}
u{
  text-decoration: none
}
ul,li,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
body{
  margin: 0 auto;
  font-family: "微软雅黑";
  background: #f8f8f8;
}
i{
  font-style:none
} ;
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"]{-moz-appearance:textfield;}
html{
  background: #f8f8f8;
  font-size: 62.5%;
}
.navbartop{
  padding-top: 1rem;
  position: relative;
}
.nav-left{
  text-align: center;
}
.logo img{
  width: 6rem;
}
.nav-middle{
  position: absolute;
  top: 2.4em;
  left: 50%;
  margin-left: -6rem;
  input{
    width: 12rem;
  }
}
.nav-right{
  float: right;
  a{
    font-size: 2rem;
    color: #f7bb1d;
  }
}

.navcon{
  text-align: center;
  a{
    margin-top: 2rem;
    display: inline-block;
    padding: 0 2rem;
    font-size: 16px;
    color: #666;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 2rem;
  }
  margin-left: -2rem;
}
.container{
  padding: 0 1rem;
}
section{
  overflow: hidden;
}
h2{
  font-size: 2rem;
}
.line{
  background: #E4E4E4;
  width: 100%;
  margin: 0 auto;
  height: 1px;
}
.city-list{
  margin: 2rem 2rem;
  text-align: center;
  a{
    padding: 0 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
.loader{
  text-align: center;
}
.casa-card{
  border-bottom: 1px solid #CFCFCF ;
  margin-bottom: 1rem;
  .cardcon{
    margin: 0 auto;
    img{
      width: 100%;
    }
  }
}
footer{
  background: black ;
  color: #fff;
  padding: 1rem;
  .message{
    text-align: center;
    ul{
      margin-left: 3rem;
      li{
      margin-right: 3rem;
      display: inline-block;
      }
    a{
      float: left;
      color: #fff;
      font-size: 1.2rem;
    }
    }
  }
  p{
    margin: 0 auto;
    width: 16rem;
    text-align: center;
  }
}