@a-hover:#ff8c00;
@import "block/slider";
@import "block/load";
a,a:link,a:visited ,a:hover,a:active{
  text-decoration:none;
  color: black;
}
a:hover{color: black}
u{
  text-decoration: none
}
ul,li,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
body{
  margin: 0 auto;
  font-family: "微软雅黑";
  background: #f8f8f8;
}
i{
  font-style:none
} ;
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"]{-moz-appearance:textfield;}
html{
  background: #f8f8f8;
  font-size: 62.5%;
}
.navbartop{
  height: 2rem;
  padding: 2rem;
  position: relative;
}
.logo img{
  width: 6rem;
  float: left;
}
.nav-middle{
  position: absolute;
  top: 2.4em;
  left: 50%;
  margin-left: -6rem;
  input{
    width: 12rem;
  }
}
.nav-right{
  float: right;
  a{
    font-size: 2rem;
    color: #f7bb1d;
  }
}

.navcon{
  text-align: center;
  a{
    margin-top: 2rem;
    display: inline-block;
    padding: 0 2rem;
    font-size: 16px;
    color: #666;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 2rem;
  }
  margin-left: -2rem;
}
section{
  padding: 1rem;
  overflow: hidden;
}
.line{
  background: #E4E4E4;
  width: 100%;
  margin: 0 auto;
  height: 1px;
}
.city-list{
  margin: 2rem 2rem;
  text-align: center;
  a{
    padding: 0 2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
.loader{
  text-align: center;
}
.casa-card{
  padding: 1rem;
  .cardcon{
    img{width: 28rem;}
  }
}
footer{
  height: 10rem;
  background: black ;
  color: #fff;
  padding: 1rem;
  img{
    height: 8rem;
  }
  .message{
    float: right;
    ul{
      margin: 2.2rem 2.2rem 0 0;
      li{
        display: inline-block;
      };
      li:nth-child(1){
        margin-right: 6rem;
        font-size: 2rem;
      }
    a{
      color: #fff;
      font-size: 1.2rem;
    }
    }
  }
  p{margin: 0 auto; width: 10rem;}
}