// 如果出现问题就取消注释，不然之后删除掉 7.12
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button{
//   -webkit-appearance: none !important;
//   margin: 0;
// }
// input[type="number"]{-moz-appearance:textfield;}
html{
  font-size: 62.5%;
}
img{
    vertical-align: middle;
}
.clear:after{content:"\20";display:block;height:0;clear:both}
@import "block\base.less";
@import "wx\header";
